@mixin anim($time){-webkit-transition: all $time ease;-moz-transition: all $time ease;-ms-transition: all $time ease;-o-transition: all $time ease;transition: all $time ease;}
@mixin rotate($deg){-moz-transform: rotate($deg);-ms-transform: rotate($deg);-webkit-transform: rotate($deg);-o-transform: rotate($deg);transform: rotate($deg);}
@mixin scale($num){-moz-transform: scale($num);-ms-transform: scale($num);-webkit-transform: scale($num);-o-transform: scale($num);transform: scale($num);}
@mixin skew($num){-webkit-transform: skewX($num);-moz-transform: skewX($num);-ms-transform: skewX($num);-o-transform: skewX($num);transform: skewX($num);}
@mixin cnt($h){display: flex;flex-direction: column;height: $h;text-align: center;align-items: stretch;justify-content: center;}

//<BUTTONS (a.btn+tab)>====================================================================================================
.btn{
	display: inline-block;
}
//</BUTTONS>====================================================================================================

//<SELECT (sel+tab)>====================================================================================================
.select{position: relative;cursor: pointer;display: inline-block;vertical-align: top;
	.select-title{z-index: 1;width: 100%;
		position: relative;height:29px;
		border:1px solid #f3f3f3;background-color: #fff;
	}
	.select-title__arrow{position: absolute;top: 50%;
		margin-top: -4px;right: 5px;width:12px;height:8px;
		background: url('../img/icons/select-arrow.png') 0 0 no-repeat;
	}
	.select-title__value{font-size: 14px;color:  #0097ac;
		font-weight: 300;line-height: 27px;
		display: block;overflow: hidden;
		padding: 0 25px 0 10px;white-space: nowrap;text-transform: none;text-overflow: ellipsis;}
	.select-options{
		position: absolute;z-index: 10;
		top: 28px;display: none;overflow: hidden;
		min-width: 100%;
		border: 1px solid #f3f3f3;border-top: none;
	}
	.select-options-inside{background-color: #fff;padding-bottom: 5px;}
	.select-options__value{color: #9b9b9b;
		font-weight: 300;
		font-size: 13px;padding: 5px 10px;
		&:hover{color: #000;}
	}
}
//</SELECT>====================================================================================================

//<INPUT (inp+tab)>====================================================================================================
.input{
	width: 100%;
	display: block;
	padding: 0px 0px 0px 0px;
	background-color: transparent;
	height: 40px;
	color: #272829;
	font-family: 'Roboto';
	font-size: 16px;
	border-bottom: 1px solid #272829;
	margin: 0px 0px 10px 0px;
	&.focus{}
	&.err{border-bottom: 1px solid red;}
}
textarea.input{
	resize:none;
	border-radius: 2px;
	height: 190px;
	border: 1px solid #272829;
	padding: 10px;
}
//</INPUT>====================================================================================================

//<CHECK (chk+tab)>====================================================================================================
.check{position: relative;padding-left: 25px;color:  #5f5f5f;line-height: 18px;cursor: pointer;
	input{display: none;}
	&:before{content:'';
		left: 0;
		top: 0;
		width: 18px;height: 18px;
		border: 1px solid #a3a3a3;
		position: absolute;
	}
	&.active{
		&:before{
			background: url('../img/icons/check.png') center no-repeat;
		}
	}
}
//</CHECK>====================================================================================================

//<OPTIONS (opt+tab)>====================================================================================================
.option{position: relative;cursor: pointer;padding-left: 25px;line-height: 16px;margin-bottom: 10px;font-size: 15px;font-weight: 300;
	&:last-child{margin-bottom:0px;}
	input{display: none;}
	&:before{position: absolute;left: 0;top: 0;width: 16px;height: 16px;content: '';border: 1px solid #7f7f7f;border-radius: 50%;}
	&.active{
		&:before{background: url('../img/icons/option.png') center no-repeat;}
	}
}
//</OPTIONS>====================================================================================================

//<RATING>====================================================================================================
.rating-block{display: table;font-size: 0;}
.rating{display: inline-block;position: relative;vertical-align: middle;
	&.edit .star{cursor: pointer;}
	.star{width: 17px;height: 13px;display: inline-block;position: relative;z-index: 3;}
}
.rating__line{position: absolute;width: 80px;height: 13px;top: 0;left: 0;background: url('../img/bg_rating.png') 0 0 no-repeat;z-index: 1;}
.rating__activeline{position: absolute;width: 0px;height: 13px;top: 0;left: 0;background: url('../img/bg_rating_active.png') 0 0 no-repeat;z-index: 2;}
.rating__value{display: inline-block;color: #1b3139;font-size: 14px;line-height: 13px;vertical-align: middle;}
//</RATING>====================================================================================================

//<QUANTITY>====================================================================================================
.quantity {position: relative;width: 73px;height: 47px;border: 1px solid #cfcfcf;background-color: #ffffff;}
.quantity__input {height: 45px;width: 50px;text-align: center;color: #101010;font-weight: 300;}
.quantity__btn {position: absolute;top: 11px;right: 15px;cursor: pointer;
	&:before{font-size: 25px;display: inline-block;line-height: 10px;color: #a9a9a9;}
	&:hover{
		&:before{color: #da0005;}
	}
	&.up {}
	&.dwn {top: 25px;}
}
//</QUANTITY>====================================================================================================

//<RANGE>====================================================================================================
.category-params-item-price {}
.category-params-item-price-table {margin-bottom: 25px;
	.cell {
		&:first-child{padding-right: 15px;position: relative;
			&:after{content:'-';position: absolute;right: -4px;top: 8px;font-size: 20px;}
		}
		&:last-child{padding-left: 15px;}
		input{height: 37px;border: 2px solid #393939;background-color: #ffffff;text-align: center;font-size: 12px;color: #393939;font-weight: 500;width: 100%;}
	}
}
.category-params-item-price-range{margin:0 12px 40px 12px;background-color: #c9cecf;height: 2px;position: relative;
	.ui-slider-range{background-color: #000;height: 2px;position: relative;}
	.ui-slider-handle{width: 23px;height: 28px;border: 3px solid #fbfbfb;background-color: #ea5922;display: block;position: absolute;top: -14px;margin-left: -12px;cursor: pointer;
		span{position: absolute;bottom: -18px;left: 50%;width: 50px;text-align: center;font-size: 10px;margin-left: -25px;font-weight: 500;color: #94a6aa;}
	}
}
//</RANGE>====================================================================================================

