@mixin anim($time){-webkit-transition: all $time ease;-moz-transition: all $time ease;-ms-transition: all $time ease;-o-transition: all $time ease;transition: all $time ease;}
@mixin rotate($deg){-moz-transform: rotate($deg);-ms-transform: rotate($deg);-webkit-transform: rotate($deg);-o-transform: rotate($deg);transform: rotate($deg);}
@mixin scale($num){-moz-transform: scale($num);-ms-transform: scale($num);-webkit-transform: scale($num);-o-transform: scale($num);transform: scale($num);}
@mixin skew($num){-webkit-transform: skewX($num);-moz-transform: skewX($num);-ms-transform: skewX($num);-o-transform: skewX($num);transform: skewX($num);}
@mixin cnt($h){display: flex;flex-direction: column;height: $h;text-align: center;align-items: stretch;justify-content: center;}
//====================================================================================================
/*
font-family: 'Open Sans Condensed';
@extend .fr;
@include anim(0.3s);
*/
//====================================================================================================
header{position:fixed;width:100%;left:0;top:0;box-shadow:0 2px 4px rgba(0,0,0,0.2),0 1px 10px rgba(0,0,0,0.12),0 4px 5px rgba(0,0,0,0.14);z-index: 50;background-color: #fff;}
.header-table {
	.cell {vertical-align: middle;}
}
.header__logo {display: inline-block;position: relative;z-index: 21;width: 250px;
	img{max-width: 100%;}
}

.header-menu {text-align: right;}
.header-menu-list {
	>li{display: inline-block;vertical-align: top;
		&.hover{
			.header-menu__link{color:#04215b;
				&:after{opacity: 1;}
			}
			.header-menu-sublist {display: block;}
		}
		&.active{
			.header-menu__link{color:#04215b;
				&:after{opacity: 1;}
			}
		}
		&:last-child{
			.header-menu__link {padding-right: 0;}
		}
	}
}
.header-menu__link{@include anim(0.3s);font-weight:500;position:relative;line-height:70px;display:block;color:#7787a6;text-transform:uppercase;font-size:16px;padding:0 25px;
	&:after{@include anim(0.3s);opacity:0;content:'';width:100%;height:5px;position:absolute;bottom:0;left:0;background-color:#04215b;}
		span {display: none;margin: 0px 0px 0px 3px;@include anim(0.3s);
		&.active{@include rotate(-180deg);position: relative;top: -2px;}
	}
}
.header-menu-sublist{@include anim(0.3s);position:absolute;right:0;white-space: nowrap;display: none;
	>li{display:inline-block;
		&.active{.header-menu-sublist__link {color:#04215b;}}
	}
}
.header-menu-sublist__link {
	@include anim(0.3s);line-height:65px;display:block;padding:0 25px;color:#7787a6;font-size:16px;font-weight:500;text-transform:uppercase;position: relative;
	&:before{content:'';position: absolute;width: 100%;height: 100%;top: 0;left: 0;background-color: #fff;z-index: -5;}
	&:hover{color:#04215b;}
}

body.touch{
	.header-menu__link{
		span{display: inline-block;margin: 0px 0px 0px 8px;}
	}
}
body.he{
	header{direction: rtl;}
	.header-menu{text-align: left;}
	.header-menu-list {
		>li{
			&:last-child{
				.header-menu__link {padding-left: 0;padding-right: 25px;}
			}
		}
	}
	.header-menu-sublist{right: auto;left: 0;}
}


@media (max-width:992px){
	.header-menu__link {padding:0 15px;font-size: 14px;}
	.header-menu-sublist__link {padding:0 15px;font-size: 14px;line-height: 50px;}
	.header__logo {width: 185px;}

	body.he{
		.header-menu-list {
			>li{
				&:last-child{
					.header-menu__link {padding-left: 0;padding-right:15px;}
				}
			}
		}
	}
}

@media (max-width:640px){
	.header-menu__link {line-height: 50px;padding:0 15px;}
}

@media (max-width:640px){
	.header-table {
		.cell {height: 50px;}
	}
	.header-menu__icon{display:block;position:absolute;top:15px;right:10px;width:30px;height:18px;cursor:pointer;z-index:21;
		span{@include anim(0.3s);top: 8px;left: 0px;position: absolute;width: 30px;height: 2px;background-color: #04215b;
			&:first-child{top: 0px;}
			&:last-child{top: auto;bottom: 0px;}
		}
		&.active{
			span{@include scale(0);
				&:first-child{@include rotate(-45deg);top: 8px;}
				&:last-child{@include rotate(45deg);bottom: 8px;}
			}
		}
	}
	.header-menu{@include anim(0.3s);text-align:center;position:fixed;width:100%;height:100%;top:0;left:-200%;background-color:#050743;z-index:20;overflow:auto;padding:50px 0px 20px 0px;
		&.active{left: 0;
			&:before{content:'';position:fixed;top:0;width:100%;height:50px;background-color:#fff;z-index:20;left: 0;}
		}
	}
	.header-menu-list {border-bottom: 1px solid #9e9e9e;
		>li{display: block;
			&.hover{
				.header-menu__link{color:#8987a4;
					&:after{opacity: 0;}
				}
				.header-menu-sublist {display: block;}
			}
			&.active{
				.header-menu__link{color:#fff;
					&:after{opacity: 0;}
				}
			}
			&:last-child{
				.header-menu__link {padding-right: 15px;}
			}
		}
	}
	body.touch{
		.header-menu__link{
			span{margin: 0px 0px 0px 15px;background: url('../img/icons/arrow-white.svg') 0 0 no-repeat;background-size: 100%;}
		}
	}
	body.he{
		.header-menu{text-align: center;}
		.header-menu__icon{right: auto;left: 10px;}
		.header-menu-list {
			>li{
				&:last-child{
					.header-menu__link {padding-left: 0;padding-right:0px;}
				}
			}
		}
	}
	.header-menu__link{color: #8987a4;border: 1px solid #9e9e9e;border-bottom: none;}
	.header-menu-sublist {position: relative;margin: 0px 0px 0px 0px;white-space: normal;opacity: 1;visibility: visible;}
	.header-menu-sublist {
		>li{display: block;border-top: 1px solid #9e9e9e;
			&.active{
				.header-menu-sublist__link {color: #fff;}
			}
		}
	}
	.header-menu-sublist__link {line-height: 40px;padding: 0px 20px 0px 20px;background-color: #040134;}

	.header__logo {width: 156px;}
}
//====================================================================================================
/*
font-family: 'Open Sans Condensed';
@extend .fr;
@include anim(0.3s);
*/
//====================================================================================================

