//<МИКСИНЫ>===============================================================================================
@mixin anim($time){-webkit-transition: all $time ease;-moz-transition: all $time ease;-ms-transition: all $time ease;-o-transition: all $time ease;transition: all $time ease;}
@mixin animd($time,$delay){-webkit-transition: all $time ease $delay;-moz-transition: all $time ease $delay;-ms-transition: all $time ease $delay;-o-transition: all $time ease $delay;transition: all $time ease $delay;}
@mixin rotate($deg){-moz-transform: rotate($deg);-ms-transform: rotate($deg);-webkit-transform: rotate($deg);-o-transform: rotate($deg);transform: rotate($deg);}
@mixin scale($num){-moz-transform: scale($num);-ms-transform: scale($num);-webkit-transform: scale($num);-o-transform: scale($num);transform: scale($num);}
@mixin skew($num){-webkit-transform: skewX($num);-moz-transform: skewX($num);-ms-transform: skewX($num);-o-transform: skewX($num);transform: skewX($num);}
@mixin cnt($h){display: flex;flex-direction: column;height: $h;text-align: center;align-items: stretch;justify-content: center;}
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
@font-face{font-family:'Elektra';src:url('../fonts/ElektraLight.eot');src:local('☺'),url('../fonts/ElektraLight.woff') format('woff'),url('../fonts/ElektraLight.ttf') format('truetype'),url('../fonts/ElektraLight.svg') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'Elektra';src:url('../fonts/ElektraLightBold.eot');src:local('☺'),url('../fonts/ElektraLightBold.woff') format('woff'),url('../fonts/ElektraLightBold.ttf') format('truetype'),url('../fonts/ElektraLightBold.svg') format('svg');font-weight:700;font-style:normal;}
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');


//Пример подключения Google
//@import url('https://fonts.googleapis.com/css?family=Coda');
//Пример подключения файлов шрифтов
//@font-face {font-family: 'MuseoSansCyrl';font-weight: normal;font-style: normal;src: url('../fonts/MuseoSansCyrl_1.eot');src: local('☺'), url('../fonts/MuseoSansCyrl_1.woff') format('woff'), url('../fonts/MuseoSansCyrl_1.ttf') format('truetype'), url('../fonts/MuseoSansCyrl_1.svg') format('svg');}

//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import url('https://use.fontawesome.com/releases/v4.7.0/css/font-awesome-css.min.css');
//@font-face{font-family:'FontAwesome';src:url('https://use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.eot');src:url('https://use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),url('https://use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.woff2') format('woff2'),url('https://use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.woff') format('woff'),url('https://use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.ttf') format('truetype'),url('//use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.svg#fontawesomeregular') format('svg');font-weight:normal;font-style:normal;}
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily:"Elektra";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
$minwidth:320px;
*{padding: 0px;margin: 0px;border: 0px;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
aside,nav,footer,header,section{display: block;}
html,body{height: 100%;margin: 0;padding: 0;min-width: $minwidth;position: relative;width: 100%;color: #000;}
body{font-size: 100%;line-height: 1;font-size: 14px;font-family: $fontfamily;
	&.lock{overflow: hidden;}
	&.scrlock{overflow: hidden;}
}
input,button,textarea{font-family: $fontfamily;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
.clr{clear: both;display: block;}
.wrapper{width: 100%;min-height: 100%;overflow: hidden;}
.row:after{display: block;content: '';clear: both;}
.fa{font-family: inherit !important;
	&:before{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
}

@media (max-height:800px){
	body.scrlock{overflow: visible;}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container{max-width: 960px; margin: 0 auto;position: relative;}

@media (max-width:992px){
	.container{max-width: 750px;}
}
@media (max-width:767px){
	.container{max-width: 620px;}
}
@media (max-width:639px){
	.container{max-width: 620px;}
}
@media (max-width:360px){
	.container{max-width: 350px;}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЕЛЕМЕНТОВ>====================================================================================================
@import "header.scss";
@import "footer.scss";
@import "popup.scss";
@import "index.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЕЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.content{padding: 70px 0px 0px 0px;}
@media (max-width:640px){
	.content{padding: 50px 0px 0px 0px;}
}

.blocks{position: absolute;top: 200%;left: 0;width: 100%;}

@media (max-width:767px){
	.blocks{position: relative;top: 0;}
}
@media (max-height:800px){
	.blocks{position: relative;top: 0;}
}

body.he{
	.content{direction: rtl;}
}
//====================================================================================================
.block-1{color:#ffffff;text-align:center;background:url('../img/bg_01.jpg') center no-repeat;background-size:cover;position: absolute;width: 100%;height: 100%;top: 0;left: 0;min-height: 630px;}
.block-1__title{text-shadow:0 1px 2px rgba(0,0,0,0.5);font-size:64px;margin:0px 0px 40px 0px;}
.block-1__text {font-size: 20px;line-height: 36px; padding: 0 5%;}

.block-1-table{position: absolute;width: 100%;height: 100%;top: 0;left: 0;padding:80px 0px 30px 0px;
	>.cell{height: 100%;vertical-align: middle;}
}

@media (max-height:800px){
	.block-1{position: relative;height: auto;}
	.block-1-table{position: relative;height: auto;}
}

@media (max-width:767px){
	.block-1{min-height: 0px;position: relative;height: auto;}
	.block-1-table{padding:50px 0px;position: relative;height: auto;
		>.cell{height: auto;}
	}
	.block-1__title{font-size: 36px;margin: 0px 0px 30px 0px;}
	.block-1__text {font-size: 14px;line-height: 20px;}
}
@media (max-width:640px){}
@media (max-width:479px){
	.block-1-table{padding:30px 0px;}
}
//====================================================================================================
.block-2{text-align:center;position:absolute;width:100%;height:100%;top:100%;left:0;}
.block-2-table{table-layout: fixed;position: absolute;width: 100%;height: 100%;top: 0;left: 0;
	.cell {padding: 100px 0px 0px 0px;vertical-align: top;}
}
.block-2-slider {
	.slick-arrow{width: 72px;height: 72px;border: 2px solid #bdbdbd;border-radius: 50%;position: absolute;top: 50%;margin: -36px 0px 0px 0px;z-index: 10;
		&.slick-prev{background: url('../img/icons/arrow.svg') center no-repeat;left: 10px;@include rotate(-180deg);}
		&.slick-next{background: url('../img/icons/arrow.svg') center no-repeat;right: 10px;}
		&.slick-disabled{display: none !important;}
	}
}
.block-2-slide {}
.block-2-slide-1 {}
.block-2-slide-1__title{font-weight: 700;margin:0px 0px 20px 0px;color:#0669df;font-size:64px;line-height:78px;}
.block-2-slide-1__text{color:#757575;font-size:24px;line-height:32px;margin:0px 0px 25px 0px;padding: 0 5%;}
.block-2-slide-1-body {display: inline-block;}
.block-2-slide-1__image {margin: 0px 0px 20px 0px;
	.i1 {display: block;}
	.i2 {display: none;}
	.i3 {display: none;}
	img{max-width: 100%;}
}
.block-2-slide-1-table {display: inline-block;max-width: 782px;
	.cell {}
}
.block-2-slide-1__value {width: 222px;font-size: 60px;color: #0669df;line-height: 64px;font-weight: 700;}
.block-2-slide-1__label {font-size: 14px;color: #000;}
.block-2-slide__fish {width: 100%;left: 0;z-index: -1;
	img{max-width: 100%;}
}
.block-2-slide-2__image {margin: 0px 0px 30px 0px;}
.block-2-slide-2__text{color:#757575;font-size:24px;max-width:720px;margin:0px auto 15px auto;line-height:32px; padding: 0 5%;}
.block-2-slide-2__title{font-weight: 700;margin:0px 0px 50px 0px;color:#ff001f;font-size:64px;line-height:78px;}
.block-2-slide-3__image{margin:0px 0px 20px 0px;}
.block-2-slide-3__text{color:#757575;font-size:24px;margin:0px auto 40px auto;line-height:32px;padding: 0 5%;}
.block-2-slide-3__title{font-weight: 700;margin:0px 0px 30px 0px;color:#44a735;font-size:64px;line-height:78px;}

body.he{
	.block-2-slider{direction: ltr;}
	.block-2-slide {direction: rtl;}
}
@media (max-height:800px){
	.block-2{position: relative;height: auto;}
	.block-2-table{position: relative;height: auto;
		.cell {padding: 50px 0px 0px 0px;vertical-align: middle;}
	}
}

@media (max-width:992px){
	.block-2-slide-1__title,
	.block-2-slide-2__title,
	.block-2-slide-3__title{font-size: 50px;line-height: 55px;}
	.block-2-slide-1__image {
		.i1 {display: block;}
		.i2 {display: none;}
		.i3 {display: none;}
		img{max-width: 728px;}
	}
	.block-2-slide__fish {
		img{max-width: 730px;}
	}
	.block-2-table{position: relative;height: auto;
		.cell {padding: 50px 0px 0px 0px;vertical-align: middle;}
	}
}
@media (max-width:767px){
	.block-2{}
	.block-2{position: relative;height: auto;}
	.block-2-table{position: relative;height: auto;
		.cell {padding: 30px 0px 0px 0px;vertical-align: middle;}
	}
	.block-2-slider {
		.slick-arrow{width: 35px;height: 35px;background-size: 15px !important;margin:-17.5px 0px 0px 0px;}
	}
	.block-2-slide {}
	.block-2-slide-1__title,
	.block-2-slide-2__title,
	.block-2-slide-3__title{font-size: 30px;line-height: 35px;}
	.block-2-slide-1__text,
	.block-2-slide-2__text,
	.block-2-slide-3__text{font-size: 16px;line-height: 20px;}
	.block-2-slide-1__image {
		.i1 {display: none;}
		.i2 {display: block;}
		.i3 {display: none;}
	}
	.block-2-slide-1-table {}
	.block-2-slide-1__value {width: 85px;font-size: 30px;line-height: 33px;}

	.block-2-slide__fish {
		img{max-width: 490px;width: 100%;}
	}
}
@media (max-width:639px){
	.block-2{position: relative;height: auto;}
	.block-2-table{position: relative;height: auto;
		.cell {padding: 30px 0px 0px 0px;vertical-align: middle;}
	}
	.block-2-slide-1__title,
	.block-2-slide-2__title,
	.block-2-slide-3__title{font-size: 36px;line-height: 42px;}

	.block-2-slide__fish {position: relative;padding: 0px 0px 0px 0px;}
	.block-2-slide-1-table.table{display: none;}
	.block-2-slide-1__image{
		.i1 {display: none;}
		.i2 {display: none;}
		.i3 {display: block;}
		img{max-width: 100%;}
	}
}
//====================================================================================================
.block-3-company{padding:130px 0px 0px 0px;}
.block-3-top {text-align: center;padding: 0px 0px 230px 0px;background-image: linear-gradient(180deg, rgba(221, 248, 246, 0) 0%, #91cce9 85%, #91cce9 100%);}
.block-3-top__title {color: #04215b;font-size: 64px;margin: 0px 0px 15px 0px;}
.block-3-top__text {font-size: 20px;line-height: 32px;color: #04215b; padding: 0 5%;}
.block-3-body {padding: 0px 0px 120px 0px;}
.block-3-body__logo{width:340px;height:340px;border-radius:50%;text-align:center;margin:-120px auto 0px auto;background:#fff url('../img/logo-2.png') center 50px no-repeat;}
.block-3-body__text {margin-top: -50px; text-align:center; font-size: 20px;line-height: 32px;color: rgba(0, 0, 0, 0.54);}
.block-3-image {}
.block-3-image__value.ibg{
	img{max-width: 100%;display: block;}
}

@media (max-width:992px){
	.block-3-company{padding:80px 0px 0px 0px;}
	.block-3-top {text-align: center;padding: 0px 0px 200px 0px;}
	.block-3-top__title {font-size: 55px;}
}
@media (max-width:767px){
	.block-3-top {text-align: center;padding: 0px 0px 150px 0px;}
	.block-3-top__title {font-size: 40px;}
	.block-3-top__text {font-size: 16px;line-height: 28px;}
	.block-3-body {padding: 0px 0px 60px 0px;}
	.block-3-body__logo{width: 280px;height: 280px;}
	.block-3-body__text {font-size: 16px;line-height: 28px;padding: 0 5%;}
}
@media (max-width:639px){
	.block-3-company{padding:70px 0px 0px 0px;}
	.block-3-body {padding: 0px 0px 30px 0px;}
}
@media (max-width:360px){
	.block-3-image__value.ibg{height: 244px;background-position: -10px 0;
		img{max-width: 100%;display: none;}
	}
}
//====================================================================================================
.block-4 {position: relative;text-align: center;padding: 75px 0px 0px 0px;
	&:before{content:'';left:50%;top:-10px;margin:0px 0px 0px -267px;width:534px;height:10px;position:absolute;background-color:#ffffff;}
}
.block-4__title {font-size: 64px;color: #1f890f;margin: 0px 0px 30px 0px;}
.block-4__text {font-size: 20px;line-height: 32px;max-width: 870px;margin: 0px auto; padding: 0 5%;}
.block-4-slider {margin:65px 0px 0px 0px;
	.slick-arrow{width: 36px;height: 36px;border-radius: 50%;position: absolute;top: 50%;margin: -18px 0px 0px 0px;z-index: 10;background-size: 15px !important;
		&.slick-prev{background:rgba(255,255,255,0.4) url('../img/icons/arrow.svg') center no-repeat;left: 10px;@include rotate(-180deg);}
		&.slick-next{background:rgba(255,255,255,0.4) url('../img/icons/arrow.svg') center no-repeat;right: 10px;}
	}
	.slick-slide{
		>div{vertical-align: top;height: 222px;}
	}
}
.block-4-slide {height: 222px;}
.block-4-slide__image {width: 100%;height: 100%;}

body.he{
	.block-4-slider{direction: ltr;}
}

@media (max-width:1200px){
	.block-4-slide {height: 205px;}
	.block-4-slider {
		.slick-slide{
			>div{vertical-align: top;height: 205px;}
		}
	}
}

@media (max-width:992px){
	.block-4__title {font-size: 55px;}
}
@media (max-width:767px){
	.block-4 {padding: 30px 0px 0px 0px;}
	.block-4__title {font-size: 40px;}
	.block-4__text {font-size: 16px;line-height: 28px;padding:0 5%;}
	.block-4-slider {margin:35px 0px 0px 0px;
		.slick-slide{
			>div{vertical-align: top;height: 305px;}
		}
	}
	.block-4-slide {height: 305px;}
}
@media (max-width:640px){
	.block-4-slider {
		.slick-slide{
			>div{vertical-align: top;height: 220px;}
		}
	}
	.block-4-slide {height: 220px;}
}
//====================================================================================================
.block-5 {text-align: center;padding:40px 0px 60px 0px;position: relative;background-color:#f6f6f6;
	&:before{content:'';left:50%;top:0px;margin:0px 0px 0px -267px;width:534px;height:10px;position:absolute;background-color:#bf23c6;}
	/*&.active{
		.block-5-item_1{
			.block-5-item__num {@include scale(1);@include animd(0.5s,0s);}
			.block-5-item__text {opacity: 1;@include animd(0.5s,0s);}
		}
		.block-5-item_2{
			.block-5-item__num {@include scale(1);@include animd(0.5s,0.2s);}
			.block-5-item__text {opacity: 1;@include animd(0.5s,0.2s);}
		}
		.block-5-item_3{
			.block-5-item__num {@include scale(1);@include animd(0.5s,0.4s);}
			.block-5-item__text {opacity: 1;@include animd(0.5s,0.4s);}
		}
	}*/
}
.block-5__title {font-size: 64px;color: #bf23c6;margin: 0px 0px 90px 0px;}
.block-5-body {margin:0 -10px; width: 90%; margin: 0 auto;}
.block-5-table {}
.block-5-column {display: inline-block;vertical-align: top;width: 33.333%;padding:0 10px;margin: 0px 0px 60px 0px;}
.block-5-item {}
.block-5-item_1{
	.block-5-item__text {border-top: 4px solid #ff001f;
		&:after{content:'';background:url('../img/icons/arrow_red.svg') 0 0 no-repeat;background-size:100%;position:absolute;right:-21px;top:-16px;width:26px;height:26px;}
	}
}
.block-5-item_2{
	.block-5-item__text {border-top: 4px solid #ff9f00;
		&:after{content:'';background:url('../img/icons/arrow_yellow.svg') 0 0 no-repeat;background-size:100%;position:absolute;right:-21px;top:-16px;width:26px;height:26px;}
	}
	.block-5-item__num {}
}
.block-5-item_3{
	.block-5-item__text {border-top: 4px solid #7ed321;}
	.block-5-item__num {}
}
.block-5-item__num {margin: 0px 0px 45px 0px;@include scale(1);
	img{height: 185px;}
}
.block-5-item__text {opacity: 1;position: relative;text-align: left;color: #282828;padding: 10px;font-size: 20px;line-height: 32px;}

body.he{
	.block-5-item__text{text-align: right;}
	.block-5-item_1{
		.block-5-item__text {
			&:after{@include rotate(-180deg);right: auto;left: -21px;top: -13px;}
		}
	}
	.block-5-item_2{
		.block-5-item__text {
			&:after{@include rotate(-180deg);right: auto;left: -21px;top: -13px;}
		}
	}
}
@media (max-width:992px){
	.block-5__title {font-size: 55px;}
}
@media (max-width:767px){
	.block-5 {padding: 30px 0px 0px 0px;
		.container{max-width: none;padding: 0;}
		&:before{width: 280px;margin-left: -140px;height: 7px;}
	}
	.block-5-item-body{max-width: 450px;margin: 0px auto;}
	.block-5__title {font-size: 40px;margin: 0px 0px 30px 0px;}
	.block-5-column {width: 100%;margin: 0px 0px 20px 0px;}
	.block-5-item {display: table;width: 100%;padding: 0px 0px 30px 0px;}
	.block-5-item_1{border-bottom: 2px solid #ff001f;}
	.block-5-item_2{border-bottom: 2px solid #ff9f00;}
	.block-5-item_3{}
	.block-5-item__num {display: table-cell;width: 100px;
		img{height: 95px;}
	}
	.block-5-item__text {display: table-cell;border-top: none !important;padding: 0px 0px 0px 0px;font-size: 14px;line-height: 20px;vertical-align: middle;
		&:after{display: none;}
	}
}
@media (max-width:639px){
	.block-5-item-body{padding:0 20px 0 10px;}
}
//====================================================================================================
.block-6 {text-align: center;padding: 90px 0px 60px 0px;position: relative;
	&:before{content:'';left:50%;top:0px;margin:0px 0px 0px -267px;width:534px;height:10px;position:absolute;background-color:#e42c24;}
}
.block-6__title {color:#e42c24;font-size: 64px;margin: 0px 0px 30px 0px;}
.block-6__text {font-size: 20px;line-height: 32px;margin: 0px 0px 55px 0px; padding: 0 5%;}
.block-6-fish {width:90%;margin: 0px auto;}
.block-6-fish__image {margin: 0px 0px 35px 0px;
	img{max-width: 100%;}
}
.block-6-fish-items.table {
	&.mob{display: none;}
}
.block-6-fish-item {color: #292929;display: inline-block;vertical-align: top;width: 33.333%;margin: 0px 0px 30px 0px;position: relative;padding: 25px 0px 0px 0px;
	&:before{content:'';width:3px;position:absolute;left:50%;margin:0px 0px 0px -1.5px;}
	&:after{content:'';border-radius:50%;position:absolute;left:50%;top:-8px;width:16px;height:16px;margin:0px 0px 0px -9px;}
}
.block-6-fish-item__title {font-size: 32px;margin: 0px 0px 15px 0px;}
.block-6-fish-item__text {font-size: 16px;line-height: 24px;padding:0 30px;}
.block-6-fish-item_1 {
	&:before{height: 70px;background-color: #9c1da2;top: -70px;}
	&:after{background-color: #9c1da2;}
}
.block-6-fish-item_2 {
	&:before{height: 60px;background-color: #f18e1d;top: -60px;}
	&:after{background-color: #f18e1d;}
}
.block-6-fish-item_3 {
	&:before{height: 70px;background-color: #0669df;top: -70px;}
	&:after{background-color: #0669df;margin:0px 0px 0px -8px;}
}
.block-6-fish-item_4 {
	&:before{height: 250px;background-color: #e4246e;top: -250px;}
	&:after{background-color: #e4246e;margin:0px 0px 0px -8px;}
}
.block-6-fish-item_5 {
	&:before{height: 320px;background-color: #44a735;top: -320px;}
	&:after{background-color: #44a735;}
}

body.he{
	.block-6-fish__image {transform: scale(-1, 1);}
}

@media (max-width:992px){
	.block-6__title {font-size: 55px;}
}
@media (max-width:767px){
	.block-6 {padding: 30px 0px 0px 0px;
		.container{max-width: none;padding: 0;}
		&:before{width: 280px;margin-left: -140px;height: 7px;}
	}
	.block-6__title {font-size: 40px;margin: 0px 0px 30px 0px;}
	.block-6__text {font-size: 16px;line-height: 28px;padding:0 5%;}

	.block-6-fish__image{max-width: 413px;margin: 0px auto 50px auto;}
	.block-6-fish-item {width: 100%;padding: 0px 0px 30px 0px;border-bottom: 1px solid #eee;
		&:before{display: none;}
		&:after{display: none;}
		&:last-child{margin: 0px 0px 0px 0px;border-bottom: none;}
	}
	.block-6-fish-items.table{display: none;
		&.mob{display: table;}
	}

	.block-6-fish-item__title{font-weight: 700;}
	.block-6-fish-item_1 {
		.block-6-fish-item__title {color: #9c1da2;}
	}
	.block-6-fish-item_2 {
		.block-6-fish-item__title {color: #f18e1d;}
	}
	.block-6-fish-item_3 {
		.block-6-fish-item__title {color: #0669df;}
	}
	.block-6-fish-item_4 {
		.block-6-fish-item__title {color: #e4246e;}
	}
	.block-6-fish-item_5 {
		.block-6-fish-item__title {color: #44a735;}
	}
	.block-6-fish-item__text {padding: 0px 5%;}
}
@media (max-width:639px){
	.block-6{padding: 40px 0px 30px 0px;}
	.block-6__text {color: rgba(0, 0, 0, 0.54);line-height: 20px;font-size: 14px;}
	.block-6-fish__image{padding:0 20px;}
	.block-6-fish-item{margin: 0px 0px 15px 0px;padding: 0px 0px 15px 0px;}
	.block-6-fish-item__title {font-size: 24px;line-height: 32px;}
	.block-6-fish-item__text {font-size: 14px;line-height: 20px;}
}
//====================================================================================================
.block-7 {background-color:#f6f6f6;position: relative;
	&:before{content:'';left:50%;top:0px;margin:0px 0px 0px -267px;width:534px;height:10px;position:absolute;background-color:#a9724b;}
}
.block-7__pretitle {position: relative;z-index: 2;text-align: center;color: #4a4a4a;font-size: 32px;margin: 0px 0px 20px 0px;}
.block-7__title {position: relative;z-index: 2;text-align: center;color:#a9724b;font-size: 64px;margin: 0px 0px 50px 0px;padding: 0px 20px;}
.block-7-body {padding: 0px 0px 0px 100px;position: relative;z-index: 2;}
.block-7__text {color: #4a4a4a;font-size: 18px;line-height: 36px; padding: 0 5%;}

.block-7-image{position:absolute;left:0;top:0;height:100%;width:492px;
	img{max-width: 100%;}
}
.block-7-image-table{position: absolute;width: 100%;height: 100%;top: 0;left: 0;
	.cell{vertical-align: middle;height: 100%;}
}

.block-7-image__mob{display: none;}

.block-7-table>.cell{vertical-align: middle;padding: 55px 0px 100px 0px;}

@media (max-height:630px){
	.block-7-table>.cell{height: auto !important;}
}

@media (max-width:640px){
	.block-7-table>.cell{height: auto !important;}
}

@media (max-width:1700px){
	.block-7-image{left: -180px;}
	.block-7-body {padding: 0px 0px 0px 200px;}
}
@media (max-width:1400px){
	.block-7-image{left: -160px;}
	.block-7-body {padding: 0px 0px 0px 240px;}
	.block-7__text {line-height: 32px;}
}
@media (max-width:1130px){
	.block-7-image{left: -200px;}
}
@media (max-width:992px){
	.block-7__title {font-size: 55px;}
	.block-7-image{left: -210px;}
	.block-7__text {font-size: 18px;line-height: 32px;}
}
@media (max-width:767px){
	.block-7 {background-color:#f6f6f6;
		&:before{width: 280px;margin: 0px 0px 0px -140px;height: 7px;}
	}
	.block-7__title {font-size: 40px;}
	.block-7__text {font-size: 14px;line-height: 20px;padding:0 10px;}
	.block-7-image{width: 300px;left: 0;}
	.block-7-image-table{
		>.cell{vertical-align: top;padding: 150px 0px 0px 0px;}
	}
	.block-7-table>.cell{vertical-align: top;padding: 55px 0px 30px 0px;}
}
@media (max-width:700px){
	.block-7-image{width: 300px;left: -50px;}
}
@media (max-width:639px){
	.block-7__title {margin: 0px 0px 20px 0px;}
	.block-7-image{display: none;}
	.block-7-image__mob{display: block;text-align: center;margin: 0px 0px 20px 0px;
		img{max-width: 100%;}
	}
	.block-7-body {padding: 0px 0px 0px 0px;}

	.block-7-table>.cell{vertical-align: top;padding: 30px 0px 30px 0px;height: auto !important;}
}
//====================================================================================================
.block-8 {text-align: center;position: relative;padding: 80px 0px 80px 0px;
	&:before{content:'';left:50%;top:0px;margin:0px 0px 0px -267px;width:534px;height:10px;position:absolute;background-color:#5a0f93;}
}
.block-8__title {color:#5a0f93;font-size: 64px;margin: 0px 0px 20px 0px;}
.block-8__text{color: #2e2e2e;font-size: 20px;font-weight: 300;line-height: 32px;margin: 0px 0px 45px 0px; padding: 0 5%;}
.block-8-body {margin:0 -15px; padding: 0 5%;}
.block-8-table {}
.block-8-item-column {display: inline-block;vertical-align: top;width: 33.333%;padding:0 15px;margin: 0px 0px 60px 0px;}
.block-8-item {color: #2e2e2e;}
.block-8-item__avatar {border-radius:50%;display:inline-block;overflow:hidden;width:180px;height:180px;margin:0px 0px 20px 0px;
	img{max-width: 100%;}
}
.block-8-item__name {font-weight: 700;font-size: 24px;}
.block-8-item__position {font-size: 16px;margin:10px 0px;padding:0;}
.block-8-item__text {font-size: 16px;line-height: 24px;}
.block-8__image{
	img{max-width: 100%;}
}
@media (max-width:992px){
	.block-8__title {font-size: 55px;}
	.block-8-item-column {width: 50%;}
}
@media (max-width:767px){
	.block-8 {padding: 55px 0px 30px 0px;
		.container{max-width: none;}
		&:before{width: 280px;margin: 0px 0px 0px -140px;height: 7px;}
	}
	.block-8__title {font-size: 40px;}
	.block-8__text{font-size: 16px;line-height: 28px;}

	.block-8-item{border-bottom: 1px solid #d7d7d7;padding: 0px 0px 35px 0px;}
	.block-8-item-column {width: 100%;
		&:last-child{margin: 0px 0px 0px 0px;
			.block-8-item{border-bottom: none;}
		}
	}

	.block-8-item__text {/*display: none;*/padding:0 20px;}
}
@media (max-width:639px){
	.block-8 {
		.container{max-width: none;padding: 0;}
	}
	.block-8__text{font-size: 14px;line-height: 20px;padding:0 20px;}
}

//====================================================================================================
.block-9 {color: #2e2e2e;background-image: linear-gradient(to bottom, rgba(221, 248, 246, 0) 0%, rgba(145, 204, 233, 0.7) 85%, rgba(145, 204, 233, 0.7) 100%);padding: 0px 0px 95px 0px;}
.block-9__title {text-align: center;font-size: 64px;margin: 0px 0px 75px 0px;color: #04215b;}
.block-9-form {margin: 0px 0px 80px 0px; padding: 0 5%;}
.block-9-form__label {margin: 0px 0px 20px 0px;font-size: 18px;}
.block-9-form-row {margin:0 -12px;}
.block-9-form-column {float: left;width: 50%;padding: 0px 12px;}
.block-9-form__text {}
.block-9-form-button{text-align: right;}
.block-9-form__bnt {font-size: 24px;text-transform: uppercase;background-color: transparent;font-family: 'Roboto';}
.block-9__phone {font-size: 64px;font-weight: 700;color: #000;}
.block-9__email {display: inline-block;color: #2e2e2e;text-decoration: underline;font-weight: 700;font-size: 24px;margin: 30px 0px;
	&:hover{text-decoration: none;}
}
.block-9__footertext {font-size: 24px;}
.block-9-footer{text-align: center;}

body.he{
	.block-9-form-column {
		&:first-child{
			float: right;
		}
	}
}
@media (max-width:992px){
	.block-9__title {font-size: 55px;}
	.block-9-form {margin: 0px auto 80px auto;/*max-width: 550px;*/}
	.block-9-form-column {width: 100%;
		&:first-child{margin: 0px 0px 30px 0px;}
	}
}
@media (max-width:767px){
	.block-9{padding: 0px 0px 30px 0px;}
	.block-9-form {margin: 0px 0px 40px 0px;}
	.block-9__title {font-size: 40px;margin: 0px 0px 30px 0px;}

	.block-9__email {margin: 20px 0px;font-size: 18px;}
	.block-9__phone {font-size: 36px;}
	.block-9__footertext {font-size: 16px;line-height: 24px;}

	.block-9-form-button{text-align: center;}
}
@media (max-width:639px){
	.block-9__phone {font-size: 33px;}
}
//</ОСНОВНОЙ БЛОК>====================================================================================================

.spoller{font-size: 16px;display: none;@include anim(0.3s);text-align: center;
	&.active{
		@include rotate(-180deg);
	}
}
@media (max-width:767px){
	.hiddentext{display: none;}
	.spoller{display: block;}
	.hiddentext2{display: block;}
	.spoller2{display: none;}
}
@media (max-width:639px){
	.hiddentext2{display: none;}
	.spoller2{display: block;}
}

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms.scss";
@import "ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
